@use "./variables" as *;
@use "./home";
@use "./category";
@use "./artisan";
@use "./artisan-card";


@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/Graphik-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/Graphik-Medium-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/Graphik-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $font-main;
}

.site-footer {
  background-color: $blue-100;
}

.site-main {
  min-height: 70vh;
}

h1, h2, h3 {
  color: $blue-700;
}
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}